html {
	background: url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-372421.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	margin: 0 auto;
}

h1, h2 {
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

a, p {
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.wrapper {
	margin: 0 auto -100px;
	height:100%;
	width: 960px;
}

.nav {
	background-color: #ffffff;
	height: 70px;
}

.my_name {
	background: #4aaaa5;
	float: left;
	font-size: 40px;
	padding: 15px 25px;
	color: #ffffff;
}

ul {
	display: inline-flex;
	float: right;
	margin: 0;
	vertical-align: middle;
	line-height: 65px;
}

ul a {
	text-decoration: none;
	padding-left: 25px;
}

.main_content, .contact_container {
	margin-top: 45px;
	border: 2px solid #dddddd;
}

.main_content {
	width: 650px;
	background-color: #ffffff;
	float: left;
}

.main_content h2 {
	font-size: 40px;
	padding-bottom: 15px;
	border-bottom: 2px solid #dddddd;
	margin-bottom: 10px;
}

#about_me {
	padding: 20px;
}

#about_me img{
	float: left;
	border: 2px solid black;
	margin-right: 20px;
	margin-top: 10px;
}

#about_me p {
	line-height: 2em;
}

#my_portfolio {
	margin: 20px;
}

#row_1, #row_2 {
	float: left;
	width: 50%;
	margin: 0px 0px 10px 0px;
	padding-bottom: 10px;
}

.image_container {
	width: 285px;
	height: 175px;
	position: relative;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 30px;
}

.image_container h3 {
	position: absolute;
	color: #ffffff;
	background-color: rgba(74, 170, 165, .80);
	bottom: 40px;
	text-align: center;
	width: 100%;
	padding: 15px 0px;
	font-size: 18px;
}

section img {
	width: 285px;
	height: 175px;
}

form {
	margin: 20px;
}

.form-group p {
	padding: 15px 0px 5px;
}

#name, #email, #message {
	width: 97.75%;
	padding: 5px;
}

#submit_button {
	padding: 10px 30px;
	margin-top: 15px;
	background-color: #4aaaa5;
	color: #ffffff;
	border: none;
}

.contact_box_margin {
	margin: 20px;
}

.contact_container {
	width: 270px;
	background-color: #ffffff;
	float: right;
}

.contact_container h2 {
	text-align: center;
	font-size: 25px;
	padding-bottom: 20px;
	border-bottom: 2px solid #dddddd;
}

.contact_container img {
	height: 65px;
	width: 65px;
}

#links {
	text-align: center;
	padding: 20px 0px 10px 0px;
}

#middle_img {
	padding: 0px 10px;
}

footer {
	background-color: #666666;
	text-align: center;
	min-width: 100%;
	border-top: 8px solid #4aaaa5;
	position: fixed;
	bottom: 0px;
	clear: both;
	padding: 35px 0px;
}

footer p {
	font-size: 12px;
	color: #ffffff;
}

.portfolio_footer {
	background-color: #666666;
	text-align: center;
	min-width: 100%;
	border-top: 8px solid #4aaaa5;
	position: relative;
	bottom: 0px;
	clear: both;
	padding: 35px 0px;
	margin-top: 60%;
}